<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="chatMapper">
	<resultMap type="chat" id="chatResultSet">
		<result column="CHAT_NO" property="chatNo"/>
		<result column="DETAIL_NO" property="detailNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="USER_ID1" property="userId"/>
		<result column="USER_ID2" property="userId2"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<!-- 채팅 만들기 -->
	<insert id="insertChat" parameterType="chat">
		INSERT
		  INTO
		  		CHAT
		  		(
		  		CHAT_NO
		  		,USER_ID
		  		,TITLE
		  		,CONTENT
		  		)
		VALUES
				(
				SEQ_CNO.NEXTVAL
				,#{userId}
				,#{title}
				,#{content}
				)
	</insert>
	
	<!-- 게시글 총 갯수 조회 -->
	<select id="selectListCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		CHAT
		 WHERE
		 		STATUS = 'N'
	</select>
	
	<!-- 전체 게시글 조회 -->
  	<select id="selectChatList" resultMap="chatResultSet">
  		SELECT
  		  		CHAT_NO
  		  		,USER_ID
  		  		,TITLE
  		  		,CONTENT
  		  FROM
  		  		CHAT
  		 WHERE
  		 		STATUS = 'N'
  		 ORDER
  		    BY
  		    	CHAT_NO DESC
  	</select>
  	
  	<!-- 채팅 여부 검사 -->
  	<select id="selectChatDetailStatus" resultType="_int" parameterType="chat">
  		SELECT
  				COUNT(*)
  		  FROM
  		  		CHAT_DETAIL
  		 WHERE
  		 		CHAT_NO = #{chatNo}
  		   AND
  		   		USER_ID2 = #{userId2}
  	</select>
  	
  	<!-- 채팅방 등록 -->
  	<insert id="insertChatDetail" parameterType="chat">
  		INSERT
  		  INTO
  		  		CHAT_DETAIL
  		 		(
  		 		DETAIL_NO
  		 		,CHAT_NO
  		 		,USER_ID1
  		 		,USER_ID2
  		 		)
  		 VALUES
  		 		(
  		 		SEQ_DNO.NEXTVAL
  		 		,#{chatNo}
  		 		,#{userId}
  		 		,#{userId2}
  		 		)
  	</insert>
  	
  	<!-- 첫번째 채팅 insert -->
  	<insert id="insertFirstChat" parameterType="chat">
  		<selectKey resultType="_int" keyProperty="detailNo" order="BEFORE" >
  			SELECT
  					DETAIL_NO
  			  FROM
  			  		CHAT_DETAIL
  			 WHERE
  			 		CHAT_NO = #{chatNo}
  			   AND
  			   		USER_ID2 = #{userId2}
  		</selectKey>
  		INSERT
		  INTO
		  		CHAT_CONTENT
		  		(
		  		DETAIL_NO
		  		,CHAT_NO
		  		,USER_ID
		  		,CONTENT
		  		)
		 VALUES
		 		(
		 		#{detailNo}
		 		,#{chatNo}
		 		,#{userId2}
		 		,#{content}
		 		)
  	</insert>
  	
  	<select id="selectChatContent" parameterType="chat" resultMap="chatResultSet">
  		SELECT
  				DETAIL_NO
  				,TITLE
  				,A.CHAT_NO
  				,A.USER_ID
  				,A.CONTENT
  				,ORIGIN_NAME
  				,CHANGE_NAME
  				,CREATE_DATE
  		  FROM
  		  		CHAT_CONTENT A
  		  JOIN
  		  		CHAT B ON (A.CHAT_NO = B.CHAT_NO)
  		 WHERE
  		 		A.CHAT_NO = #{chatNo}
  		   AND
  		   		A.USER_ID = #{userId2}
  		 ORDER
  		    BY
  		    	CREATE_DATE ASC
  	</select>
  	
  	<select id="selectDetailNoList" parameterType="chat" resultMap="chatResultSet">
  		SELECT
		        DETAIL_NO
		  FROM
		        CHAT_DETAIL
		 WHERE
		        USER_ID1 = #{userId}
		    OR
		        USER_ID2 = #{userId}
  	</select>
  	
  	<!-- order by createDate 해보기 -->
  	<select id="selectChatDetailList" parameterType="arraylist" resultMap="chatResultSet">
		<foreach collection="list" item="item" separator=" UNION ">
		SELECT 
		        *
		  FROM
		        (SELECT
		                A.DETAIL_NO
		                ,A.CHAT_NO
		                ,B.USER_ID1
		                ,B.USER_ID2
		                ,A.CONTENT
		                ,ORIGIN_NAME
		                ,CHANGE_NAME
		                ,CREATE_DATE
		          FROM
		                CHAT_CONTENT A
		          JOIN
		                CHAT_DETAIL B ON (A.DETAIL_NO = B.DETAIL_NO)
		         WHERE	
		                    A.DETAIL_NO = #{item.detailNo}
		         ORDER
		            BY
		                CREATE_DATE DESC)
		 WHERE 
				        ROWNUM = 1
		</foreach>
  	</select>
  	
  	<select id="selectChatDetail" parameterType="_int" resultMap="chatResultSet">
  		SELECT
  				DETAIL_NO
  				,TITLE
  				,A.CHAT_NO
  				,A.USER_ID
  				,A.CONTENT
  				,ORIGIN_NAME
  				,CHANGE_NAME
  				,CREATE_DATE
  		  FROM
  		  		CHAT_CONTENT A
  		  JOIN
  		  		CHAT B ON (A.CHAT_NO = B.CHAT_NO)
  		 WHERE
  		 		A.DETAIL_NO = #{detailNo}
  		 ORDER
  		    BY
  		    	CREATE_DATE ASC
  	</select>
  	
</mapper>
